BOT_TOKEN=TELEGRAM_TOKEN=1234567890:ABC-asdfghjklcfndkcscdsc-ckdsnkdcnks
ADMINS=1234567890,1234567891
DATABASE_URL=sqlite:///./<name>.db

AWS_REGION=eu-central-1
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

USER_STATES_TABLE=user_states
CONFIG_MODELS_TABLE=config_models
